*{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    padding: 0px;
    color: white;
    border-radius: 8px;
}
h4,h3,section h2{
    text-shadow: 2px 2px 1px #8980a9;
}
#nam{
    color: rgb(57 218 255);
}
.content h3,h2{
    text-shadow: none;
    line-height: 2rem;
}
.content h3{
    width: 15%;
}
.typed-cursor {
    margin: 0;
}
#element{
    margin: 0;
}
header{
    position: relative;
    text-shadow: 2px 2px 1px #070609;
}
header::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCnzjkH4AigpqzekEM0F99fLmnw59Ayc5kHQ&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    border-radius: 8px;
}
body{
    background-color: #0e1a19;
}

/* for header */
.contain{
    /* border: 2px solid rgb(78, 233, 112); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-top: 5px;
}
.child2{
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    transition: all 1s ease 0.1s;
}
.child2::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    border-radius: 8px;
}
.child2:hover{
    background-color: rgb(52, 70, 6);
    transition: all 1s ease-out 0.1s;
    transform: scale(1,1.5);
}
.child2 ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.child ul li{
    margin: 5px 15px;
    padding: 0px 10px;
}
.child ul li a{
    text-decoration: none;
}
.child ul li a:hover{
    color: rgb(200, 255, 47);
}
/*
.child ul li a:hover::after{            for pop up
    content: "Dummy link";
    display: block;
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    color: rgb(86, 226, 251);
    width: auto;
    padding: 5px;
    margin: 2px auto;
    background-color: rgb(0, 0, 0);
}
*/
.child1{
    margin: 5px 15px;
    padding: 0px 0px;
}
.child img{
    border: 1px solid white;
}
.child1 img{
    border-radius: 50%;
    width: 66px;
    height: auto;
    transition: all 0.2s ease;
}
.child1 img:hover{
    transition: all 0.2s ease;
    transform: rotate(360deg);
}
.content{
    /* border: 2px solid rgb(182, 13, 255); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    padding: 30px;
}
.sam{
    width: 50%;
    text-align: center;
    margin-bottom: -4px;
    padding: 2px;
}
.content p{
    /* border: 2px solid black; */
    text-align: center;
    padding: 0px 0px;
}

/* for items */
.parent{
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.item{
    position: relative;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 3px rgb(130, 255, 255);
}
.item:hover{
    transform: scale(1,1.1);
    background-color: #18302e;
}
.item p{
    text-align: left;
    padding: 15px 20px;
    padding-bottom: 0;
}
.sect{
    margin: 0px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}
#course{
    margin-top: 10px;
}
.box{
    display: flex;
    justify-content: center;
    width: 80%;
    border: none;
    box-shadow: 1px 1px 10px 2px rgb(255, 255, 255);
}
.childbox{
    align-self: center;
}
.childbox1{
    margin: 0 !important;
}
.childbox1 img{
    width: 12rem;
    margin: 10px;
}
.childbox2 p{
    padding: 2.8rem;
    line-height: 2rem;
}
#contac{
    margin-top: 10px;
    text-shadow: 2px 2px 1px #8980a9;
}
footer p{
    text-align: center;
}

/* for responsive */
@media(max-width:1500px){
    .item{
        margin: 10px;
    }
    .content h3{
        width: 20%;
    }
}
@media(max-width:940px){
    header::before{
        background-image: url('https://wallpapers.com/images/hd/plain-black-background-02fh7564l8qq4m6d.jpg');
    }
    .box{
        flex-direction: column;
    }
    .childbox2 p{
        padding: 2rem;
    }
    .childbox1 img{
        width: 18rem;
        height: 18rem;
    }
}
@media(max-width:800px){
    *{
        font-size: 10px;
    }
    .contain{
        flex-direction: column;
    }
    .content{
        margin: 4px;
        padding: 10px;
    }
}
@media(max-width:520px){
    .contain{
        margin: 0px;
    }
    .child ul li{
        margin: 0px 0px;
        padding: 0px 0px;
    }
    .footter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot{
        width: 100%;
    } 
    .item p{
        text-align: center;
    }
    .content{
        margin: 0px;
    }
    .content h3{
        width: 100%;
    }
    .childbox1 img{
        width: 12rem;
        height: 14rem;
    }
    .childbox2 p{
        padding: 1rem;
    }
}


